<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<meta name="citation_title" content="ARC-AGI Without Pretraining">
<meta name="citation_author" content="Isaac Liao">
<meta name="citation_publication_date" content="2025-03-21">
<meta name="citation_pdf_url" content="https://github.com/iliao2345/iliao2345.github.io/tree/master/blog_posts/arc_agi_without_pretraining/ARC_AGI_Without_Pretraining.pdf">
<meta name="citation_language" content="en">
<meta name="citation_keywords" content="ARC-AGI, pretraining, compression, MDL, Solomonoff">
<meta name="citation_public_url" content="{{ page.url | absolute_url }}">


<!-- end custom head snippets -->
